.user {
    display: inline-block;
    width: 180px;
    height: 180px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.moreexpandablecontent span {
    display: none;
}